{% load static %}
{% include 'header.php'%}
<!DOCTYPE html>
<html lang="en">


<form method="post" action="">
{% csrf_token %}
<div class="page-wrapper">
<div class="content">
<div class="page-header">
<div class="page-title">
<h4>Product Management</h4>
<h6>Add Product</h6>
</div>
</div>

<div class="card">
<div class="card-body">
<div class="row">
<div class="col-lg-3 col-sm-6 col-12">
<div class="form-group">
<label>Product ID</label>
<input type="text" name="pid"> </input>
</div>
</div>
<div class="col-lg-12">
<button class="btn btn-submit me-2">Submit</button>
<a href="{%url 'addproduct'%}" class="btn btn-cancel">Cancel</a>
</div>
</div>
</div>
</div>
</div>
</div>
</form>


</html>